body {
    margin: 0; /* Remove margens padrão do corpo */
    padding: 0;
    height: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E07E36;
    margin-bottom: 0;
}
#logo{
    margin-left: 200px;
}
#opt {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

#opt a{
    color: #000000; 
    text-decoration: none;
}

#opt a:hover{
    color: #f5f5f5; 
    text-decoration: none;
}

#entrar{
    margin-right: 200px;
    display: flex;
    gap:10px
}

#entrar button{
    padding: 10px 30px;
    border-radius: 8px; 
    background-color: #EAB28A; 
    color: rgb(0, 0, 0); 
    border: none; 
    cursor: pointer;
}
#menuSuspenso {
    display: none;
    padding: 2px;
    background-color: #E07E36;
    
  }
  #menuSuspenso ul{
    display: flex;
    gap:15px;
    list-style: none;
  }

#sobre{
    display: flex;
    width: 100%; /* Largura do elemento */
    height: 500px;
    background-image: url('https://blog.manyimoveis.com.br/wp-content/uploads/2017/12/152332-x-mitos-sobre-colocar-imovel-para-locacao-em-uma-imobiliaria-810x548.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

#slogan {
    background-color: rgba(224, 126, 54, 0.6); /* Cor de fundo com 40% de transparência */
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: justify; 
    padding: 20px; 
    border-radius: 25px; 
    flex-direction: column; 
    width: 800px;
    height: 300px;
}

#slogan h2 {
    text-align: center; /* Centraliza o texto */
    margin: 0; /* Remove a margem padrão */
    font-size: 25px;
}

#slogan p{
    font-size: 17px;
    padding-top: 15px;
}

#destaque {
    margin-top: 50px;
    text-align: center; 
}

#titulo-destaque {
    margin-bottom: 20px; 
}

#secao-destaque {
    display: flex; 
}

#imovel-destaque {
    margin-left: 280px; /* Desloca para a esquerda */
    border: 1px solid #ccc; /* Apenas para visualização da div */
    padding: 20px; /* Adiciona um espaço interno */
    position: relative; /* Para posicionar os textos abaixo da imagem */
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #EAB28A;
    margin-top: 50px;
}

#imovel-destaque img {
    width: calc(100% - 10px); 
    height: auto; 
    display: block; 
    margin: 0 auto 0; 
   
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}


#imovel-destaque p {
    margin-top: 20px; 
}

#imovel-destaque h4{
    margin-top: 8px;
    font-size: 18px;
    text-align: left;
}

#local {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 36px;
}

#local p {
    text-align: left;
    margin-right: auto; 
}

#local button {
    text-align: right; 
    border: none;
    background-color: #EAB28A;
    cursor: pointer;
}

#local button:hover {
  color: #ffffff;
}

#total{
    margin-top: 50px;
    text-align: center; 
    background-color: #dddddd;
    
}

#titulo-total{
    padding-top: 20px;
    padding-bottom: 20px;
}

#pesquisar{
    margin-bottom: 20px;
}

#pesquisar input{
    width: 600px;
    height: 30px;
    border-radius: 15px;
}

#pesquisar button{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background-color: #E07E36;
    cursor: pointer;
}

#filtro{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#filtro input{
    height: 20px;
    width: 200px;
    border-radius: 10px;
}

#filtro select{
    height: 25px;
    width: 100px;
    border-radius: 10px;
}



#secao-total {
    display: flex; 
}

#imovel-todos {
    margin-left: 280px; 
    border: 1px solid #ccc; 
    padding: 20px; 
    position: relative; 
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #EAB28A;
    margin-top: 80px;
    margin-bottom: 50px;
}

#imovel-todos img {
    width: calc(100% - 10px); 
    height: auto; 
    display: block; 
    margin: 0 auto 0; 
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}


#imovel-todos p {
    margin-top: 20px; 
}

#imovel-todos h4{
    margin-top: 8px;
    font-size: 18px;
    text-align: left;
}

#local {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 36px;
}

#local p {
    text-align: left;
    margin-right: auto; 
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E07E36;
}


